@tailwind base; 
@tailwind components; 
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2C313D;
  border-radius: 20px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #2C313D transparent;
}

/* 
.down {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.left {
  transform: translateX(-50px);
  opacity: 0;
  transition: 1s all ease;
}

.right {
  transform: translateX(50px);
  opacity: 0;
  transition: 1s all ease;
}

.down.show,
.left.show,
.right.show {
  transform: translateY(0);
  transform: translateX(0);
  opacity: 1;
}

.active {
  color: #2C313D;
}

.show-modal #modal {
  display: flex;
  opacity: 1;
}

.show-loading #loading {
  display: unset;
} */
/* 

*/
